@import '../utilities/mixins';
@import '../utilities/placeholders';
@import '../utilities/variables';

.desktop--icons__single {
    user-select: none;
    padding: 10px;
    min-width: 110px;
    max-width: 150px;
    font-size: 12px;
    text-shadow: black 0px 1px 1px;
    border: 1px solid transparent;
    @include flex(column, flex-end, center);

    span {
        padding: 2px 4px;
        margin-top: 4px;
    }
}

.selected {
    background-color: #99D1FF99;
    border-color: #99D1FF;
}