@import '../utilities/mixins';
@import '../utilities/placeholders';
@import '../utilities/variables';

@keyframes loading-bars {
    0% {
        left: -20%;
    }
    20% {
        left: 0%;
    }
    80% {
        left: 100%;
    }
    100% {
        left: 120%;
    }
}

.loading-screen {
    overflow: hidden;
    background: #000;
    color: #fff;
    height: 100vh;
    width: 100vw;
    @include flex(column, center, center);

    &--wrapper {
        position: relative;
        width: 450px;
        max-width: 100%;
        flex-grow: 1;
        @include flex(column, center, center);

        &__logo {
            position: relative;
            margin-top: 100px;
            @include flex(row, center, center);
            
            img {
                position: absolute;
                bottom: -40px;
            }
        }
        
        &__text {
            margin-bottom: 50px;
            font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
            width: 100%;
            @include flex(column, center, left);

            &--company {
                font-size: 1.5em;
            }
            &--title {
                font-size: 5em;
            }
            &--professional {
                font-size: 2em;
                font-weight: 200;
                letter-spacing: 0.05em;
            }
        }
        
        &__loader {
            border: 1px solid #fff;
            border-radius: 4px;
            height: 20px;
            width: 50%;
            overflow: hidden;
    
            .bars {
                position: relative;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 40px;
                animation-name: loading-bars;
                animation-duration: 2.2s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
    
                span,
                &::before,
                &::after {
                    content: "";
                    display: block;
                    background-color: #0059c3;
                    flex: 0 0 12px;
                    height: 80%;
                }
    
                &::before {
                    background-image: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 0.8) 20%,
                        rgba(255, 255, 255, 0.8) 30%,
                        rgba(255, 255, 255, 0.8) 40%,
                        rgba(148, 187, 233, 0) 100%
                    );
                }
                span {
                    background-image: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 0.8) 40%,
                        rgba(255, 255, 255, 0.8) 50%,
                        rgba(255, 255, 255, 0.8) 60%,
                        rgba(148, 187, 233, 0) 100%
                    );
                }
                &::after {
                    background-image: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 0.8) 60%,
                        rgba(255, 255, 255, 0.8) 70%,
                        rgba(255, 255, 255, 0.8) 80%,
                        rgba(148, 187, 233, 0) 100%
                    );
                }
            }
        }
    }

    &--footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-wrap: wrap;
        padding: 40px;

        &__title {
            font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .loading-screen {
        &--wrapper {
            &__logo {
                img {
                    bottom: -20px;
                }
            }
            &__text {
                width: 90%;
    
                &--company {
                    font-size: 1.2em;
                }
                &--title {
                    font-size: 4em;
                }
                &--professional {
                    font-size: 1.8em;
                }
            }
        }
    }
}