@import '../utilities/mixins';
@import '../utilities/placeholders';
@import '../utilities/variables';

label {
    margin-bottom: 0.5rem;
    font-size: 12px;
    @include flex(column, flex-start, flex-start);

    input {
        margin-top: 0.2rem;
        padding: 0 0.4rem;
        outline: none;
        height: 34px;
        width: 200px;
        background: #FFF;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 1px 1px 1px #084da3;
    }
}

h2 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #ffffffd8;
    margin-bottom: 1.5rem;
}

.auth-container {
    gap: 1rem;
    @include flex(row, normal, flex-start);
}

.auth-submit {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-color: #23b221;
    border: 1px solid #fff;
    -webkit-box-shadow: inset 4px 2px 8px rgba(255, 255, 255, 0.6),
        inset -2px -3px 5px #267c08, 1px 1px 1px #084da3;
    box-shadow: inset 4px 2px 8px rgba(255, 255, 255, 0.6),
        inset -2px -3px 5px #267c08, 1px 1px 1px #084da3;
    border-radius: 4px;
    outline: none;
    margin-top: 0.97rem;
    @include flex(row, center, flex-end);
}