@import '../utilities/mixins';
@import '../utilities/placeholders';
@import '../utilities/variables';

.single-item {
    width: 150px;
    height: 22px;
    padding: 4px 8px;
    border-radius: $radius-small;
    background-color: #083ea1;
    box-shadow: 1px 0 0.5px #00000083 inset, -1px 0 0.5px #00000083 inset;
    font-size: 11px;
    gap: 2px;
    @include flex(row, flex-start, center);
}
.single-item:hover {
    background-color: #5f8ee5;
}
.single-item:active {
    background-color: #083ea1;
    box-shadow: 1px 0 0.5px #00000083 inset, -1px 0 0.5px #00000083 inset;
}


.cover {
    background-color: #4782ec;
}
.unfocused {
    background-color: rgb(60, 129, 243);
    box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset;
}