@import '../utilities/mixins';
@import '../utilities/placeholders';
@import '../utilities/variables';

.taskbar {
    position: absolute;
    bottom: 0;
    background-color: $blue-dark;
    background: linear-gradient(to bottom, #245EDC 0%, #3f8cf3 9%, #245EDC 18%, #245EDC 92%, #1941A5 100%) center/cover no-repeat;
    height: 32px;
    width: 100%;
    color: #FFF;
    gap: 2px;
    @include flex(row, flex-start, center);

    &--start {
        cursor: pointer;
        height: 100%;
        clip-path: circle(65% at 45% 50%);
        background-color: $green-medium;
        background: linear-gradient(to bottom, $green-medium 0%, $green-light 9%, $green-medium 18%, $green-medium 92%, $green-dark 100%) center/cover no-repeat;
        box-shadow: 0px 5px 10px #79ce71 inset, -8px 0 10px #000 inset;
        font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        text-shadow: 1px 1px 3px #222;
        padding: 0 25px 0 10px;
        gap: 7px;
        @include flex(row, center, center);

        span {
            padding-bottom: 2px;
        }
    }
    &--start:hover {
        box-shadow: -8px 0 5px #000 inset;
    }
    &--start:active {
        box-shadow: -8px 0 15px #242424 inset;
    }

    &--items {
        @include flex(row, flex-start, center);
    }

    &--time {
        position: absolute;
        right: 0;
        width: 70px;
        height: 100%;
        background-color: #5DB3FF;
        background: linear-gradient(to bottom, #5DB3FF 0%, #a0c4f5 9%, #5DB3FF 18%, #5DB3FF 92%, #1941A5 100%) center/cover no-repeat;
        font-size: 12px;
        @include flex(row, center, center);
    }
}