// Blue
$blue-dark: #0062EA;
$blue-item: #128BE7;
$blue-hover: #4D9FE1;

// Green
$green-dark: #008D00;
$green-medium: #31A431;
$green-light: #5EDB5E;

// Texts


// Positions / Dimensions
$radius-large: 10px;
$radius-medium: 5px;
$radius-small: 2px;