@import './utilities/mixins';
@import './utilities/placeholders';
@import './utilities/variables';

.desktop {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url('../../public/backgroundXP.webp');
    background-size: cover;
    background-position: center bottom;

    &--icons {
        position: relative;
        color: #FFF;
        font-size: 12px;
        padding: 2rem 2rem 0 0rem;
        z-index: 2;
        flex-wrap: wrap;
        @include flex(row, flex-start, center);
    }
}

.watermark {
    background-image: url('../../public/logo.svg');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.85;
    position: absolute;
    z-index: 1;
    width: 10vw;
    height: 10vw;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1024px) {
    .watermark {
    width: 15vw;
    height: 15vw;
    }
}
@media screen and (max-width: 768px) {
    .watermark {
    width: 40vw;
    height: 40vw;
    }
}